v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
yarn-error.log
yarn.lock
frontend/.env.development
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/issuestore/1/0/10637a7ad5c9bd6dc18edd3edd3df15152a57215
.idea/sonarlint/issuestore/8/0/8014bc62d79ccb92ed29837e9f1907db7a227438
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/1/0/10637a7ad5c9bd6dc18edd3edd3df15152a57215
.idea/sonarlint/securityhotspotstore/8/0/8014bc62d79ccb92ed29837e9f1907db7a227438
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.idea/vcs.xml
.idea/vector-admin.iml
